.about-container {
  @include desktop {
    display: flex;
  }
  margin-top: 2rem;
}
.about-img {
  @include desktop {
    float: left;
    width: 33%;
    height: 100%;
  }
  @include mobile {
    width: 100%;
  }
}
.about-content {
  @include desktop {
    display: inline;
    width: 67%;
    padding-left: 2rem;
    font-size: 1.6rem;
  }
  @include mobile {
    width: 100%;
    font-size: 1rem;
  }
}
