@use "_colors.scss" as colors;

.blog-post {
  .blog-post-content {
    p code,
    li code {
      border-style: dotted;
      border-style: dashed;
      border-width: 0.0625rem;
      padding: 0.125rem 0.25rem;
      border-radius: 0.25rem;
      @include themed() {
        border-color: t($text);
      }
    }
    div.line {
      display: table-row;
    }
    .line-no {
      display: table-cell;
      text-align: right;
      padding-right: 1em;
      user-select: none;
      opacity: 0.5;
    }
    .line-content {
      display: table-cell;
      white-space: pre-wrap;
    }
    .code-header {
      @include themed() {
        border-bottom: 0.25rem solid t($accent-one);
      }
      margin-bottom: 1rem;
      padding-bottom: 20px;
      text-align: right;
    }
    .language-name {
      padding-right: 1rem;
    }
    .code-copy-button {
      padding: 10px;
      background: transparent;
      @include themed() {
        border: 2px solid t($accent-one);
        color: t($accent-one);
      }
      border-radius: 0.25rem;

      cursor: pointer;
    }
  }
}
