.blog-post {
  @include mobile {
    margin-top: 0rem;
    .blog-post:first-child h1 {
      margin-top: 0rem;
    }
  }
  a {
    text-decoration: none;
    color: $primary-color;
    word-wrap: break-word;
    &:hover {
      text-decoration: underline;
    }
    &:visited {
      color: $secondary-color;
    }
  }
  .blog-post-date {
    font-size: 0.8rem;
  }

  .blog-post-content {
    font-family: $font-stack;
    font-size: 1.3rem;
    margin: 1.5rem 0rem;
    line-height: 1.7rem;
    @include mobile {
      font-size: 1rem;
      line-height: 1.5rem;
    }
    ol {
      @include mobile {
        padding-inline-start: 1rem;
      }
    }
    // table classes
    table {
      width: 100%;
      font-size: 1rem;
    }
    th {
      background-color: $secondary-color;
      color: $background-color;
      padding: 0.5rem;
    }
    td {
      padding: 0.25rem;
    }
    tr:nth-child(even) {
      background-color: $accent-one;
    }
    tr:hover {
      background-color: $accent-two;
    }
    .gist tr:nth-child(even) {
      background-color: $white;
    }
    code {
      border: 1px solid $primary-color;
      padding: 0.2rem 0.4rem;
      border-radius: 0.2rem;
      background-color: $white;
      font-size: 1rem;
      @include mobile {
        padding: 0.1rem 0.2rem;
        font-size: 0.8rem;
      }
    }
  }
}
.blog-posts {
  .blog-post {
    margin-top: 1.5rem;
    h1 {
      margin: 0rem 0rem 1rem;
    }
  }
  .blog-post-link {
    text-decoration: none;
    color: $primary-color;
    &:hover {
      text-decoration: underline;
    }
    &:visited {
      color: $secondary-color;
    }
  }
}
