
$system-colors: (
/* Adopted from https://github.com/uswds/uswds/blob/1908d1391bc59410624ca1934cc70b7404e8f443/src/stylesheets/core/system-tokens/_gray.scss */
  "gray": (
    100: #e6e6e6,
    200: #c9c9c9,
    300: #adadad,
    400: #919191,
    500: #757575,
    600: #5c5c5c,
    700: #454545,
    800: #2e2e2e,
    900: #1b1b1b,
    1000: #000000,
  ),
  "neutral": (
    1000: #212421,
    900: #373d37,
    800: #4d554d,
    700: #636d63,
    600: #798679,
    500: #929c92,
    400: #aab2aa,
    300: #c2c8c2,
    200: #dbdedb,
    100: #f3f4f3,
  ),
  "green": (
    1000: #2e3836,
    900: #384742,
    800: #41574b,
    700: #4a6751,
    600: #537853,
    500: #74906c,
    400: #95a787,
    300: #b4bda2,
    200: #d0d2bd,
    100: #e7e5da,
  ),
  "aqua": (
    1000: #031216,
    900: #0a3742,
    800: #115b6f,
    700: #18809b,
    600: #1ea4c7,
    500: #38bee1,
    400: #64cce7,
    300: #90dbee,
    200: #bde9f5,
    100: #e9f8fc,
  ),
);


@function colorT($color,$value) {
    @return map-get(map-get($system-colors, $color), $value);
  }
@each $name, $colorValues in $system-colors {
  @each $value, $hex in $colorValues {
    .text-#{$name}-#{$value} {
      color: #{$hex};
    }
    .bg-#{$name}-#{$value} {
        background-color: #{$hex};
    }
  }
}
