header.header {
  margin: 0.5rem 1rem;
}
.nav-active {
  @include desktop {
    @include themed() {
      border-bottom: 0.1rem solid t($primary-color);
    }
  }
}
.nav-active:not(:first-child) {
  @include mobile {
    @include themed() {
      border-left: 0.05rem solid t($primary-color);
    }
  }
}

// @include themed() {
//   border-bottom: 0.25rem solid t($accent-two);
// }

.nav-list-item {
  cursor: pointer;
  text-decoration: none;
  @include themed() {
    color: t($primary-color);
  }
  font-weight: 600;
  padding: 1rem;
  @include desktop {
    float: left;
    display: block;
    a {
      line-height: 2.413rem;
    }
  }
  @include mobile {
    padding: 1rem 0rem 1rem 1rem;
    text-align: left;
  }
  &:hover {
    @include themed() {
      background-color: t($secondary-color);
      color: t($background-color);
    }
  }
  &:focus {
    @include themed() {
      outline: solid thick t($accent-one);
    }
  }
}

.nav-list-item:first-child {
  font-weight: 800;
  @include mobile {
    font-size: 2rem;
    float: left;
    padding-left: 1rem;
  }
}
.nav-list-item:not(:first-child) {
  @include mobile {
    display: none;
  }
}
