ul,
ol {
  padding-left: 4 * $grid-unit;
  margin-top: 2 * $grid-unit;

  &:last-child {
    margin-bottom: 0;
  }
}

li {
  list-style: disc;
  margin-bottom: $grid-unit * 0.25;
  &:last-child {
    margin-bottom: 0;
  }
  p {
    padding: 0;
  }
}
