$background-color: "background-color";
$text: "text";
$primary-color: "primary-color";
$secondary-color: "secondary-color";
$accent-one: "accent-one";
$accent-two: "accent-two";
$background-color--default: #fbfffaff;
$text--default: #1a1a1aff;
$primary-color--default: #375037ff;
$secondary-color--default: #5d985dff;
$accent-one--default: #d6ffd6ff;
$accent-two--default: #c8eaebff;
$background-color--dark: rgb(32, 42, 32);
$text--dark: #f2f2f2ff;
$primary-color--dark: #fbfffaff;
$secondary-color--dark: #c8eaebff; // #5d985dff;
$accent-one--dark: #d6ffd6ff;
$accent-two--dark: #496a49ff; //#c8eaebff;
$white: #fff;
$font-stack: "Montserrat", sans-serif;
$breakpoint: 37.5rem;
$content-max-width: 60rem;
$h1-font-size: 2.25rem;
$h2-font-size: 1.75rem;
$h-margin-ratio: 0.67;