@use "_colors.scss" as colors;

$background-color: "background-color";
$text: "text";
$primary-color: "primary-color";
$primary: "primary";
$primary-200: "primary-200";
$primary-400: "primary-400";
$secondary-color: "secondary-color";
$accent-one: "accent-one";
$accent-two: "accent-two";
/* core */

$background-color--default: colors.colorT("neutral", 100);
$text--default: colors.colorT("neutral", 1000);
$primary-color--default: colors.colorT("green", 900);
$primary-200--default: colors.colorT("green", 700);
$primary-400--default: colors.colorT("green", 500);
$secondary-color--default: colors.colorT("green", 600);
$accent-one--default: colors.colorT("aqua", 700);
$accent-two--default: colors.colorT("aqua",200);
$background-color--dark: colors.colorT("neutral", 1000);
$text--dark: colors.colorT("neutral", 200);
$primary-color--dark: colors.colorT("green", 100);
$primary-200--dark: colors.colorT("green", 300);
$primary-400--dark: colors.colorT("green", 500);
$secondary-color--dark: colors.colorT("green", 400); // #5d985dff;
$accent-one--dark: colors.colorT("aqua", 400);
$accent-two--dark: colors.colorT("aqua",200); //#c8eaebff;
$white: #fff;


$font-stack: "Inconsolata Variable", "Poppins", "Montserrat", sans-serif;
$header-font-stack: 'Karla Variable', sans-serif;
$font-code: "Source Code Pro";
$font-weights: (
  "normal": 400,
  "semibold": 600,
);
$breakpoint: 37.5rem;
$content-max-width: 60rem;
$max-width: 60rem;
$grid-unit: 0.5rem;

$unit-increments: (
    "0": 0,
    "05": 0.5 * $grid-unit,
    "1": 1 * $grid-unit,
    "105": 1.5 * $grid-unit,
    "2": 2 * $grid-unit,
    "205": 2.5 * $grid-unit,
    "3": 3 * $grid-unit,
    "305": 3.5 * $grid-unit,
    "4": 4 * $grid-unit,
    "5": 5 * $grid-unit,
    "6": 6 * $grid-unit
);

$alignment: ("left", "center", "right");
$sides: ("top", "bottom", "right", "left");

$h-margin-ratio: 0.5;
$h1-font-size: 2.5rem;
$h1-line-height: 3rem;
$h2-font-size: 2rem;
$h2-line-height: 2.5rem;
$h3-font-size: 1.75rem;
$h3-line-height: 2rem;
$h4-font-size: 1.5rem;
$h4-line-height: 1.75rem;
$h5-font-size: 1.25rem;
$h5-line-height: 1.75rem;

$prose-font-size: 1.25rem;
$prose-line-height: 2rem;
$prose-small-font-size: 0.75rem;
$prose-small-line-height: 1.5rem;
