.tag-container a {
  color: $background-color;
}
.tag {
  font-family: $font-stack;
  font-size: 1rem;
  color: $background-color !important;
  text-transform: lowercase;
  font-weight: 500;
  background-color: $secondary-color;
  border-radius: 3px;
  margin-right: 0.5rem;
  padding: 0.5rem 0.5rem;
  text-decoration: none;
  float: left;
  display: block;
  &:hover {
    background-color: $background-color;
    color: $secondary-color !important;
    font-weight: 600;
    padding: 0.25rem;
    border: 0.25rem solid $secondary-color;
    text-decoration: none;
  }
  @include mobile {
    margin-top: 1rem;
  }
}
.tag-list {
  @include mobile {
    overflow: hidden;
  }
}
.tag-list ul {
  padding-left: 0rem;
}
.tag-list li {
  padding-bottom: 0.25rem;
  list-style-type: none;
}
.tag-list a {
  text-decoration: none;
  color: $primary-color;
  &:hover {
    text-decoration: underline;
  }
  &:visited {
    color: $secondary-color;
  }
}

.tag-subtitle {
  font-style: "italic";
  font-weight: 600;
}
