.tag-container a {
  @include themed() {
    color: t($secondary-color);
  }
}
.tag {
  font-family: $font-stack;
  font-size: 1rem;
  @include themed() {
    background-color: t($background-color) !important;
    color: $secondary-color;
  }
  text-transform: lowercase;
  font-weight: 500;
  border-radius: 3px;
  margin-right: 0.5rem;
  padding: 0.5rem 0.5rem;
  text-decoration: none;
  float: left;
  display: block;
  &:hover {
    @include themed() {
      background-color: t($background-color);
      color: t($secondary-color) !important;
    }
    font-weight: 600;
    text-decoration: none;
  }
  @include mobile {
    margin-bottom: 1rem;
  }
}
.tag-list {
  @include mobile {
    overflow: hidden;
  }
}
.tag-list ul {
  padding-left: 0rem;
}
.tag-list li {
  padding-bottom: 0.25rem;
  list-style-type: none;
}
.tag-list a {
  text-decoration: none;
  @include themed() {
    color: t($primary-color);
  }
  &:hover {
    text-decoration: underline;
  }
  &:visited {
    @include themed() {
      color: t($secondary-color);
    }
  }
}

.tag-subtitle {
  font-style: "italic";
  font-weight: 600;
}
