.tag {
}
.tag-list {
  @include mobile {
    overflow: hidden;
  }
}
.tag-list ul {
  padding-left: 0rem;
}
.tag-list li {
  padding-bottom: 0.25rem;
  list-style-type: none;
}
.tag-list a {
  text-decoration: none;
  @include themed() {
    color: t($primary-color);
  }
  &:hover {
    text-decoration: underline;
  }
  &:visited {
    @include themed() {
      color: t($secondary-color);
    }
  }
}

.tag-subtitle {
  font-style: "italic";
  font-weight: 600;
}
