/* establish font-weight utility classes */
@each $weight, $value in $font-weights {
  .text-#{$weight} {
    font-weight: $value;
  }
}

@each $value in $alignment {
  .text-#{$value} {
    text-align: #{$value};
  }
}

/* margin and padding utilities */
@each $unit, $value in $unit-increments {
  .p-#{$unit} {
    padding: #{$value};
  }
  .m-#{$unit} {
    margin: #{$value};
  }
  @each $side in $sides {
    .p-#{$side}-#{$unit} {
      padding-#{$side}: #{$value};
    }
    .m-#{$side}-#{$unit} {
      margin-#{$side}: #{$value};
    }
  }
}

$border-increments: (
  "0": 0,
  "1px": 1px,
  "2px": 2px,
  "05": 0.5 * $grid-unit,
  "1": 1 * $grid-unit,
  "105": 1.5 * $grid-unit,
  "2": 2 * $grid-unit,
  "205": 2.5 * $grid-unit,
  "3": 3 * $grid-unit,
  "305": 3.5 * $grid-unit,
  "4": 4 * $grid-unit,
  "5": 5 * $grid-unit,
  "6": 6 * $grid-unit,
);
$border-sides: (
  "border",
  "border-top",
  "border-bottom",
  "border-left",
  "border-right"
);
/* borders */
/* defaults */
.border {
  border-style: solid;
  border-width: 1px;
}
.border-top {
  border-top: 1px solid;
}
.border-bottom {
  border-bottom: 1px solid;
}
.border-left {
  border-left: 1px solid;
}
.border-right {
  border-right: 1px solid;
}
/* variants */
@each $bval in $border-sides {
  @each $unit, $value in $border-increments {
    .#{$bval}-#{$unit} {
      #{$bval}: $value solid;
    }
  }
}
