@import "reset";
@import "settings";
@import "breakpoints";
@import "grid";
@import "themes";
@import "base";
@import "blog";
@import "header";
@import "table";
@import "tag";
@import "utilities";
@import "list";
@import "icons";
@import "global.css";

/* splash page */ //Primary-color
$fern-green: #4a744aff;
//secondary-color
$eton-blue: #9acc9aff;
$celadon: #b8e6b8ff;
// accent-one
$nyanza: #daffdaff;
.body-splash {
  background-color: $nyanza;
  animation-name: backgroundColorPalette;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
  /* linear is enabled default, it’s not necessary to add it make it work but it can make your code more expressive */
}

@keyframes backgroundColorPalette {
  0% {
    background: $nyanza;
  }
  5% {
    background: $accent-one;
  }
  10% {
    background: $celadon;
  }
  20% {
    background: $eton-blue;
  }
  30% {
    background: $secondary-color;
  }
  40% {
    background: $fern-green;
  }
  50% {
    background: $primary-color;
  }
  60% {
    background: $fern-green;
  }
  70% {
    background: $secondary-color;
  }
  80% {
    background: $eton-blue;
  }
  90% {
    background: $celadon;
  }
  95% {
    background: $accent-one;
  }
  100% {
    background: $nyanza;
  }
}
