---
import PageWrapper from "../../layouts/PageWrapper.astro";
import MaterialIcon from "../../components/MaterialIcon.astro";
import TagListItem from "../../components/TagListItem.astro";
import TagList from "../../components/TagList.astro";
const allPosts = await Astro.glob("../blog/**/*.{md,mdx}");

const uniqueTags = [
  ...new Set(allPosts.map((post) => post.frontmatter.tags).flat()),
];

const sortedTags = Array.from(uniqueTags).sort((a, b) => {
  if (a.toLowerCase() < b.toLowerCase()) {
    return -1;
  } else if (a.toLowerCase() > b.toLowerCase()) {
    return 1;
  }
  // a must be equal to b
  return 0;
});
---

<PageWrapper title="Tags">
  <div class="max-w-2xl">
    <h1 class="font-header text-text">Tags</h1>

    <div class="mb-8">
      <TagList>
        {
          sortedTags.map((tag) => (
            <TagListItem tag={tag} link={"/tags/" + tag} iconName="tag" />
          ))
        }
      </TagList>
    </div>
  </div>
</PageWrapper>
