---
import PageWrapper from "../layouts/PageWrapper.astro";
import Prose from "../components/Prose.astro";
---

<PageWrapper title={`404 Page Not Found`}>
  <Prose>
    <h1>404 // Whoops</h1>
    <p>
      Looks like this page doesn't exist.
      <br />
      {
        process.env.NODE_ENV === "development" ? (
          <>
            <br />
            Try creating a page in <code>src/pages/</code>.
            <br />
          </>
        ) : null
      }
      <br />
      <a href="/">Go home</a>
    </p>
  </Prose>
</PageWrapper>
