---
import PageWrapper from "../layouts/PageWrapper.astro";
import MaterialIcon from "../components/MaterialIcon.astro";
import BlogPostDate from "../components/BlogPostDate.astro";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./blog/**/*.{astro,md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<PageWrapper title="Posts">
  <div class="col-12 col-8-md">
    <h1 class="font-header text-text mb-4">Posts</h1>
    {
      posts.map((post) => (
        <div class="first:mt-4 mt-6">
          <h2>
            <a
              class="no-underline text-primary-color font-header text-text hover:underline hover:text-primary-200 visited:text-primary-400 "
              href={
                post.frontmatter.externalUrl
                  ? post.frontmatter.externalUrl
                  : post.url
              }
            >
              {post.frontmatter.title}
              {post.frontmatter.externalUrl ? (
                <MaterialIcon
                  class="ml-3 align-middle"
                  iconName="open_in_new"
                />
              ) : (
                ""
              )}
            </a>
          </h2>
          <BlogPostDate pubDate={post.frontmatter.pubDate} />
          <div class="blog-post">
            <p class="font-sans leading-relaxed text-text">
              {post.frontmatter.description}
            </p>
          </div>
        </div>
      ))
    }
  </div>
</PageWrapper>
