---
import PageWrapper from "../layouts/PageWrapper.astro";
import MaterialIcon from "../components/MaterialIcon.astro";
// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./blog/**/*.{astro,md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<PageWrapper title="Home">
  <div class="max-w-2xl">
    {
      posts.map((post) => (
        <>
          <div class="first:mt-8 mt-6">
            <h2>
              <a
                class="text-primary-color no-underline hover:underline hover:text-primary-200 visited:text-primary-400"
                href={
                  post.frontmatter.externalUrl
                    ? post.frontmatter.externalUrl
                    : post.url
                }
              >
                {post.frontmatter.title}
                {post.frontmatter.externalUrl ? (
                  <MaterialIcon
                    class="ml-3 align-middle"
                    iconName="open_in_new"
                  />
                ) : (
                  ""
                )}
              </a>
            </h2>
            <p class="font-sans leading-relaxed text-text">
              {post.frontmatter.description}
            </p>
          </div>
        </>
      ))
    }
  </div>
</PageWrapper>
