---
import HeaderLink from "./HeaderLink.astro";
import MaterialIcon from "./MaterialIcon.astro";
import { NAVIGATION } from "../config";
import ThemeIcon from "./ThemeIcon.astro";
---

<header>
  <div class="row">
    <!-- class="header"> -->
    <div class="col-12">
      <!-- class="nav-container"> -->
      <div class="header">
        <nav class="nav-container">
          <div class="nav-list">
            {
              NAVIGATION.map((x) => {
                return (
                  <HeaderLink href={x.path} class="nav-list-item">
                    {x.label}
                  </HeaderLink>
                );
              })
            }
            <ThemeIcon class="nav-list-item" />
            <button
              id="navigationHamburgerButton"
              class="nav-list-item nav-hamburger"
              aria-label="Open Menu"
            >
              <MaterialIcon class="md-36" iconName="menu" />
            </button>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>

<script>
  // Find our component DOM on the page.
  const button = document.getElementById("navigationHamburgerButton");
  const navList = document.getElementsByClassName("nav-list");
  const navListItem = document.querySelectorAll(".nav-list-item");
  // Add event listeners to fire confetti when a button is clicked.
  if (button) {
    button.addEventListener("click", () => clickHamburger());
  }

  let menuClosed = true;
  function clickHamburger() {
    if (button) {
      button.setAttribute(
        "aria-label",
        menuClosed ? "Open Menu" : "Close Menu"
      );
    }
    const buttonIcon = document.querySelectorAll(
      "#navigationHamburgerButton svg"
    );
    if (buttonIcon) {
      buttonIcon.forEach((btn) => {
        btn.classList.toggle("fa-rotate-90");
      });
    }
    if (navList) {
      navList[0].classList.toggle("display");
    }
    if (navListItem) {
      navListItem.forEach((item) => {
        item.classList.toggle("display");
      });
    }
    menuClosed = !menuClosed;
  }
</script>
