---
export interface TableData {
  [key: string]: string;
}
// const data:TableData[] = [{name: "Mark", hobby: "sports"},{name: "Dave", hobby: "golf"},{name: "Sue", hobby: "IPAs"}];


const { data } = Astro.props;
const keys = Object.keys(data[0]);
---

<table>
  <thead>
    <tr>
      {keys.map((key) => <th>{key}</th>)}
    </tr>
  </thead>
  <tbody>
    {
      data.map((row:TableData) => {
        return (
          <tr>
            {Object.entries(row).map(([key]) => {
              return <td data-label={key}>{row[key]}</td>;
            })}
          </tr>
        );
      })
    }
  </tbody>
</table>
