---
import MaterialIcon from "./MaterialIcon.astro";
const { class: className, tag, ...props } = Astro.props;
---

<div class="tag-item">
  <a class="tag" href={`/tags/${tag}/`}>
    <MaterialIcon class="p-right-05 v-align-middle" iconName="tag" />{tag}
  </a>
</div>
