---
const { class: className, tag, ...props } = Astro.props;
---

<div class="tag-item">
    <a class="tag" href={`/tags/${tag}/`}>
        <i class="fa-solid fa-hashtag p-right-05" style="vertical-align: middle;"></i>{tag}
    </a>
</div>
