---
import PageWrapper from "./PageWrapper.astro";
import Prose from "../components/Prose.astro";
const {
  content: { title, description, imgSrc, imgAlt },
} = Astro.props;
---

<PageWrapper title={title} description={description}>
  <div class="mt-6">
    <div class="grid grid-cols-12 gap-4">
      <div class="col-span-12 md:col-span-8 font-sans leading-relaxed">
        <Prose>
          <slot />
        </Prose>
      </div>
      <div class="col-span-12 md:col-span-4">
        <Prose>
          <img src={imgSrc} alt={imgAlt} style="" />
        </Prose>
      </div>
    </div>
  </div>
</PageWrapper>
