---
// Supports weights 200-900
import '@fontsource-variable/inconsolata';
// Supports weights 200-800
import '@fontsource-variable/karla';
import "@fontsource/source-code-pro";

import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <div class="flexwrapper">
      <Header />
      <main class="container">
        <div class="row">
          <slot />
        </div>
      </main>
      <Footer />
      <script
        src="https://kit.fontawesome.com/d0a03e8794.js"
        crossorigin="anonymous"
      ></script>
    </div>
  </body>
</html>
