---
// Supports weights 200-900
import "@fontsource-variable/inconsolata";
// Supports weights 200-800
import "@fontsource-variable/karla";
import "@fontsource/source-code-pro";
import "@fontsource/material-icons-round";
import { ViewTransitions } from "astro:transitions";

import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <ViewTransitions />
  </head>
  <body class="bg-background">
    <div class="flex min-h-screen flex-col">
      <Header />
      <main
        class="w-full max-w-128 mx-auto box-border px-2 md:px-0"
        transition:animate="slide"
      >
        <div class="flex flex-row flex-wrap max-w-full">
          <slot />
        </div>
      </main>
      <Footer />
    </div>
  </body>
</html>
